.box{height: 474px;
    width: 330px;
    left: 900px;
    top: 747px;
    border-radius: 0px;
    padding: 15px;
    




}

.players{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
   width: 860px;
   padding: 30px;
   border-radius: 8px;
   margin-top: 20px;
}

.box img{
    height: 350px;
    width: 350px;
}
 .start{
     background-color: rgb(30, 48, 102);
}
.heading{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}
.intro{
    flex-basis: 50% ;
   min-width: 300px;


}

.intro img{
    height: 450px;
    width: 556px;
    top: 153px;
    left: 1290px;
    blend: pass through
   
}

.h1 content{
    width: 485px;
    height: 230px;
    top: 207px;
    left: 156px;
   font-size: 64px;
   font-weight: 700;
   line-height: 83%;
   vertical-align: top;
   align: left;
 


}