.box{
    height: 474px;
    width: 330px;
    margin-left: 45px;
    margin-bottom: 32px;
    top: 747px;
    border-radius: 0px;
    padding: 30px;
    box-shadow: rgba(92, 87, 87, 0.253) 5px 5px 10px 3px;



}
/*--------players------------*/
.players{ display: grid;
    grid-template-columns: repeat(3, 1fr);
   width: 860px;
   padding: 30px;
   border-radius: 8px;
   margin-top: 20px;
    background: #FFFFFF;
    
   
}
/*-----------span------------*/
span{
    margin-top: 20px;
}
.box img{
    height: 320px;
    width: 320px;
}
 .start{
     background-color: rgb(30, 48, 102);
}
.heading{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}
.intro{
    flex-basis: 50% ;
   min-width: 300px;


}

.intro img{
    height: 450px;
    width: 556px;
    top: 153px;
    left: 1290px;
    
    
    
}

.content{
    width: 485px;
    height: 230px;
    top: 207px;
    margin-left: 156px;
   font-size: 60px;
   font-weight: 600;
   line-height: 50px;
   vertical-align: top;
   text-align: left;
  
   font-family: poppins;
   font-style: normal;
   color: #FFFFFF;
   ;

 


}
 .highlight{
     font-size: 40px;
 }


 
 
 .game{

    font-size: 50px;
 }
.button{
   text-decoration: none;
    padding:10px;
    align-items: center;
    padding: 10px 24px; 
    position: absolute;
    width: 130px;
    height: 29px;
    margin-left: 156px;
    margin-top: 44px;
    padding-bottom: 30px;
    background-color: #E02C6D;
    font-size: 30px;
    justify-content: center;

}


.discription img{
    position: absolute;
    width: 567px;
    height: 427px;
    margin-right: 156px;
    margin-bottom: 434px;
    margin-left: 717px;
    top: 2889px;



}
.iconic2{
    text-align:center;
    font-size: 254px;
}
.iconic{
   text-align: center;
}
.iconic img{
    margin-bottom: 60px;
}

.image{
    text-align: center;

}
.discription{
    width: 466px;
    height: 309px;
    top: 2948px;
    margin-left: 182px;
    margin-bottom: 493px;
    margin-right: 792px;
    margin-top: 224px;
    flex-direction: column;
    align-items: flex-start;
   


}
.image img{
    height: 200px;
    width: 600px;
    margin: bottom 50px;
}



.fas{
    font-size: 30px;
    color: white;
}
nav a{
    text-decoration: none;
    font-size: 1.5em;
    color:white;
    margin-right: 20px;
    margin-top: 40px;
    font-weight: 500;
}
nav{
    display: flex;
    justify-content: space-between;
   
    margin-left: 20px;
    margin-right: 20px;
   

}
/*media queries----------*/


@media only screen and (max-width:688px){
    .players{
        background-color: teal;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    
    @media only screen and (max-width:688px){.box{

        justify-content: center;
        flex-direction: column;grid-template-columns: repeat(1, 1fr);
        width: 100%;

    }
    
    @media only screen and (max-width:688px){.football{
        width: 100%;
    }
    
    



   


 